/* -------  General Styles ------- */

body {
  font-family: "Lato", sans-serif;
}

h2 {
  font-size: 26px;
  font-weight: 400;
  margin: 0 10px 10px 10px;
  text-align: center;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

p {
  line-height: 1.5em;
  margin: 0;
}

section {
  padding: 20px;
}

section.alternate-background {
  background-color: #00a699;
  color: #fff;
}

main img {
  width: 100px;
}

/* ---  Groups & Items --- */

.group {
  display: flex;
  flex-direction: column;
}

.item {
  flex: 1;
  margin: 10px;
}

.item-double {
  flex: 2;
}

/* -------  Navigation ------- */

header {
  background-color: #ff385c;
  padding: 20px 20px 0 20px;
  text-align: center;
}

.logo {
  font-family: "Pangolin", cursive;
  font-size: 72px;
  color: #fff;
}

header nav ul {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
  padding-inline-start: 0;
}

header nav ul li {
  list-style-type: none;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 0 20px 0 0;
}

header nav ul li a:hover {
  color: #bdbdbd;
  text-decoration: none;
}

/* -------  Search Form ------- */
form {
  border: 2px solid #ff385c;
  padding: 10px;
}

form label {
  font-weight: bold;
}

form select,
form input {
  margin-bottom: 20px;
  width: 180px;
}

form div {
  display: flex;
  justify-content: space-between;
  padding: 3px 2px;
}

form button {
  background-color: #ff385c;
  border: none;
  color: #fff;
  font-size: 24px;
  padding: 15px;
  width: 100%;
}

/* -------  About ------- */

#about {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 35px;
}

#about img {
  width: 100%;
  margin-bottom: 30px;
}

/* -------  Ideas ------- */

#ideas {
  display: flex;
  flex-direction: column;
  padding: 35px;
}

#ideas h2 {
  font-weight: bold;
}

#ideas h3 {
  font-weight: bold;
  margin-bottom: 20px;
}

#ideas img {
  width: 100%;
  margin-bottom: 30px;
}

/* -------  Footer ------- */

#host {
  padding: 35px;
}

#host img {
  width: 100%;
}

/* -------  Footer ------- */

footer {
  background-color: #ff385c;
}

footer p {
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* -------  Media Query for Desktop ------- */

@media all and (min-width: 700px) {

  /* ------- Navigation -------*/

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
  }

  header .logo {
    font-size: 50px;
  }

  header nav ul {
    display: flex;
    padding-bottom: 0px;
  }

  /* -------  Search Form ------- */

  form {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 20px;
  }
  
  form div {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  /* -------  About ------- */

  #about {
    display: flex;
    flex-direction: column;
    padding: 35px;
  }

  #about .aboutWrapper {
    display: flex;
    align-items: center;
    gap: 25px;
  }

  img {
    width: 100%;
    max-width: 1000px;
  }

}